/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.btn-small{
    color: white;
    background-color: #4a4a4a;
    padding: .2em .4em;
    border-radius: 5px;
}

img{
    width: 100%;
}
/* CONTAINER */
.full-page-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}

.upper-buttons{
    position: absolute;
    top: 1%;
    right: 1%;
}

/* MAIN */
.main-container{
    min-height: calc(100vh - 100px);
    width: 100%;
    overflow: auto;
    
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    gap: 1em .5em;
    max-height: 100%;
}

.col{
    width: calc( 100% / 7 - .5em);
    min-height: 110px;

    background-color: aquamarine;
    border: 1px solid white;
}

/* FOOTER */
.footer-container{
    min-height: 100px;
    width: 100%;


    background-color: brown;
}